@import url('./style-modules/generated-styles/header.css');
@import url('./style-modules/generated-styles/content.css');
@import url('./style-modules/generated-styles/footer.css');
@import url('./style-modules/generated-styles/sidebar.css');
@import url('./style-modules/asset-styles/generated-project.css');
@import url('./style-modules/asset-styles/forms-styles.css');
@import url('./style-modules/asset-styles/generated-task.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:"Montserrat", sans-serif;
}

body{
    display: grid;
    grid-template: 1fr 9fr 50px/repeat(6,1fr);
    height: 100vh;
}