@import url('./style-modules/header.css');
@import url('./style-modules/content.css');
@import url('./style-modules/sidebar.css');
@import url('./style-modules/footer.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:"Montserrat", sans-serif;
}

body{
    display: grid;
    grid-template: 1fr 9fr 1fr/repeat(6,1fr);
}