@import url('../root-variables.css');

.edit-note-form, .edit-task-form, .create-note-form, .create-task-form, .day-form{
  border: var(--section-border) black solid;  
  background-color: white;
  border-radius: var(--form-border-radius);
  width: var(--form-width);
  height: var(--form-height);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:var(--form-gap);
  opacity: 0;
  transition: var(--footer-transition);
  z-index: -1;
  position: fixed;
}

.edit-note-form input, .edit-task-form input, .create-note-form input, .create-task-form input, .day-form input{
  display: block;
    background-color: white;
    border: none;
    border-bottom: var(--section-border) black solid;
    outline: none;
    padding:0 var(--form-input-padding);
    font-size: var(--form-input-font-size);
}

.visible{
  z-index: 5;
  opacity: 1;
}
.form-affect{
  transition: var(--footer-transition);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 0;
}
.form-affect-visible{
  opacity: 0.35;
  z-index: 3;
}