@import url('../root-variables.css');

.project-container{
    background-color: white;
    width: var(--project-container-width);
    padding:var(--project-container-padding);
    margin: var(--project-container-margin);
}

.project-container input{
    background-color: white;
}

.project-container i{
    align-self: center;
}

.add-task-container{
    display: flex;
    justify-content: space-between;
    margin-top: var(--add-task-margin-top);
}

.delete-project-container{
    display: flex;
    justify-content: space-between;
    margin-top: var(--add-task-margin-top);
}