@import url('../root-variables.css');

.note-container{
    border: solid var(--note-border-size) var(--note-border-color);
    padding:var(--note-padding);
    margin:var(--note-margin);
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: var(--note-height);
    width: var(--note-width);
}
.note-right-side{
    display: flex;
    gap:var(--icons-gap);
    align-items: center;
}
.note-left-side{
    align-items: start;
}
.note-right-side i{
    font-size: var(--note-icon-size);
}
.content-section > .note-adder-container{
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    flex: 1;
    justify-items: flex-end;
    align-items: flex-end;
}
.content-section .add-project-input{
    background-color: transparent;
}
.content-section  .add-project-section{
    margin: var(--note-adder-margin);
}