:root{

    /*Variables for header section*/
    
    --header-background-color:rgb(10, 246, 179);
    --header-padding:15px;
    --icon-size:30px;
    --header-size:35px;
    --logo-gap:8px;
    --signUp-top-padding:8px;
    --signUp-right-padding:15px;
    --button-font-size:16px;
    --section-border:3px;

    /*Variables for sidebar section*/

    --sidebar-background-color:rgb(223, 223, 223);
    --sidebar-padding:12px;
    --sideBar-header-padding:15px;
    --sideBar-header-size:25px;
    --filter-margin:17px;
    --sideBar-icon-size:17px;
    --sideBar-icon-margin-right:12px;
    --filter-name-size:17px;
    --filter-hover-background-color:rgb(15, 245, 234);
    --sideBar-input-border-bottom-size:2px;
    --project-label-font-size:14px;
    --project-add-setion-top-margin:25px;
    --label-bottom-margin:10px;
    --input-padding:3px;

    /*Variables for footer section*/

    --footer-gap:16px;
    --github-icon-size:30px;
    --github-username-size:30px;
    --hover-letter-spacing:3px;
    --footer-transition:300ms ease-in;
    --hover-affect-width:230%;
    --hover-affect-distance-from-link:-250%;

    /*Variables for projects*/
    --project-container-width:55%;
    --project-container-padding:18px;
    --project-container-margin:24px;
    --add-task-margin-top:20px;

    /*Variables for forms*/

    --form-border-radius:16px;
    --form-width:300px;
    --form-height:350px;
    --form-input-padding:4px;
    --form-gap:16px;
    --form-input-font-size:20px;

    /*Variables for tasks*/

    --task-container-height:65px;
    --text-container-margin:12px;
    --right-side-gap:12px;
    --right-side-icon-size:16px;
    --task-container-gap:32px;
    --description-top-margin:20px;
    --text-section-left-space:3%;
    --priority-icon-size:1rem;
    --icon-distance-from-task:-40px;
    --icon-distance-from-top:40%;
    --icon-ofset:0;
    --icon-blur:12px;
    --icon-spread:8px;
    --icon-low:rgb(22, 205, 19);
    --icon-medium:rgb(209, 213, 13);
    --icon-high:rgb(223, 73, 14);

    /* Variables for notes */

    --note-border-size:4px;
    --note-border-color:rgb(16, 195, 156);
    --note-padding:20px;
    --note-margin:24px;
    --note-width:640px;
    --note-height:128px;
    --icons-gap:15px;
    --note-icon-size:16px;

}